<h2>New Event</h2>
<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="eventname">Event Name</label>
        <input type="text" formControlName="eventname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.eventname.errors }" />
        <div *ngIf="submitted && f.eventname.errors" class="invalid-feedback">
            <div *ngIf="f.eventname.errors.required">event Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Event Description</label>
        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">description  is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="date"> Date</label>
        <input type="text" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
        <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
            <div *ngIf="f.date.errors.required">date is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="location" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">location is required</div>
            <div *ngIf="f.location.errors.minlength">location must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
        <a routerLink="/" class="btn btn-link">Cancel</a>
    </div>
</form>