<h2>Welcome to EventApp</h2>
<p>Hi {{currentUser.firstName}}! </p>

<h5>Available Events:</h5>
<ul> 
  <li> <a routerLink="/" class="btn btn-link">Marathon Day </a> </li> 

  <li *ngFor="let event of events">{{event.eventname}} {{event.date}}
        <a (click)="deleteEvent(event.id)" class="text-danger">Delete</a>

  </li></ul>


<h5>Registered Users:</h5>

  <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}
    <a (click)="deleteUser(user.id)" class="text-danger">Remove</a>
  </li>

